:root {
  --animate-duration: 300ms;
  --animate-delay: 1s;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  max-width: 100%;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form {
  width: 100%;
}
.task {
  font-family: "Chilanka", cursive;
  cursor: pointer;
  transition: 0.1s;
}
